.ipynb_checkpoints
.DS_Store
__pycache__
/.idea
*.idea
*.xml
**/*.xml
*.iml
*.weights
*.log
/*.log
selenium/

contraseñas.txt
pass_.py
password.txt
password.py
sucio.ipynb
limpio.py

.env
*.hdf5
*.h5
*.parquet

logo_infonieve.jpg
imagen_inicio_st.png